    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="/">Home</a>
          <a class="blog-nav-item active" href="/blog">Blog</a>
          <a class="blog-nav-item" href="/css-playground">CSS Stuff</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Rambles through Coding</h1>
        <p class="lead blog-description">Thoughts, Gists, and Guides on Programming</p>
      </div>

      <div class="row">