      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog by <a href="https://twitter.com/flowerdew">Leanne Northrop</a> hosted on GitHub and built using <a href="http://getbootstrap.com">Bootstrap's</a> <a href="http://getbootstrap.com/examples/blog/">Blog Template</a>.</p>
      <p>Many thanks to Minddust for great <a href="http://www.minddust.com/post/tags-and-categories-on-github-pages/">tutorial</a> on using tags on GitHub Pages.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{site.url}}/javascripts/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{site.url}}/javascripts/ie10-viewport-bug-workaround.js"></script>
    <script src="{{site.url}}/javascripts/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>