    <h1 class="pageh1">Gathering Understanding</h1>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><amp-img src="https://avatars0.githubusercontent.com/u/521090?v=3&s=460" width="30px" height="30px" class="img-circle" alt="Picture of Me, Leanne Northrop"></a>
        </div>

        <div class="collapse navbar-collapse" id="main-toolbar">
          <ul class="nav navbar-nav">
            {% if page.sitehome %}
            <li class="active"><a href="{{site.baseurl}}">Home<span class="sr-only">(current)</span></a></li>
            {% else %}
            <li><a href="/">Home</a></li>
            {% endif %}

            {% if page.blogarchive %}
            <li class="active"><a href="{{site.baseurl}}/blog">Dev Musings<span class="sr-only">(current)</span></a></li>
            {% elsif page.bloghome %}
            <li class="active"><a href="{{site.baseurl}}/blog">Dev Musings<span class="sr-only">(current)</span></a></li>
            {% elsif page.blogpost %}
            <li class="active"><a href="{{site.baseurl}}/blog">Dev Musings<span class="sr-only">(current)</span></a></li>
            {% elsif page.tag %}
            <li class="active"><a href="{{site.baseurl}}/blog">Dev Musings<span class="sr-only">(current)</span></a></li>
            {% else %}
            <li><a href="{{site.baseurl}}/blog">Dev Musings</a></li>
            {% endif %}   

            <li><a href="{{site.baseurl}}/css-playground">Graphics</a></li>
          </ul>
        </div>
      </div>
    </nav>


  {% if page.sitehome %}
    <ol class="breadcrumb">
      <li class="active"><span class="fa fa-home" aria-hidden="true"></span> Home</li>
    </ol>
  {% endif %}

  {% if page.blogarchive %}
    <ol class="breadcrumb">
      <li><a href="{{site.baseurl}}"><span class="fa fa-home" aria-hidden="true"></span> Home</a></li>
      <li><a href="{{site.baseurl}}/blog">Dev Musings</a></li>
      <li class="active">Archive</li>
    </ol>
  {% endif %}

  {% if page.bloghome %}
    <ol class="breadcrumb">
      <li><a href="{{site.baseurl}}"><span class="fa fa-home" aria-hidden="true"></span> Home</a></li>
      <li>Development</li>
    </ol>
  {% endif %}  

  {% if page.blogpost %}
    <ol class="breadcrumb">
      <li><a href="{{site.baseurl}}"><span class="fa fa-home" aria-hidden="true"></span> Home</a></li>
      <li><a href="{{site.baseurl}}/blog">Development</a></li>
      <li class="active">{{page.title}}</li>
    </ol>
  {% endif %}

  <main>