          </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">
          {% if page.previous %}
            Previous: <a href="{{page.previous.url}}">{{page.previous.title}}</a><br/>
          {% endif %}
          {% if page.next %}
            Next: <a href="{{page.next.url}}">{{page.next.title}}</a>
          {% endif %}
          </div>
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <img src="https://avatars0.githubusercontent.com/u/521090?v=3&s=460" width="50px" height:"50px"></img>
            <p>A software developer by profession I have been exposed to a range of technologies and languages. Currently
            on a short career break I'm delving into new languages and areas such as Scala and Swift/iOS.
            </p>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/leannenorthrop">GitHub</a></li>
              <li><a href="https://twitter.com/flowerdew">Twitter</a></li>
              <li><a href="https://www.linkedin.com/profile/view?id=129749666">LinkedIn</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->  
      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog by <a href="https://twitter.com/flowerdew">Leanne Northrop</a> hosted on GitHub and built using <a href="http://getbootstrap.com">Bootstrap's</a> <a href="http://getbootstrap.com/examples/blog/">Blog Template</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{site.url}}/javascripts/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{site.url}}/javascripts/ie10-viewport-bug-workaround.js"></script>  
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>    