          </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->

        <div class="col-xs-12 col-sm-3 col-sm-offset-1">
          <div>
            <h4>Other Posts</h4>            
            {% assign post = page %}
            {% if post.tags.size > 0 %}
              {% for t in page.tags limit:4 %}
                <h5>With {{t| replace: '_', ' ' }} Tag</h5>
                {% for apost in site.tags[t] limit:8 %}
                  <small><a href="{{ apost.url }}">{{ apost.title }}</a> <small>{{apost.date | date_to_long_string}}</small></small>
                {% endfor %}
              {% endfor %}
            {% else %}
                <p>There are no other posts with this tag.</p>
            {% endif %}
          </div>
          <!--div>
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/leannenorthrop">GitHub</a></li>
              <li><a href="https://twitter.com/flowerdew">Twitter</a></li>
              <li><a href="https://www.linkedin.com/profile/view?id=129749666">LinkedIn</a></li>
            </ol>
          </div-->
        </div><!-- /.blog-sidebar -->  
      </div><!-- /.row -->

    </div><!-- /.container -->